{% trans_default_domain 'FOSUserBundle' %}

<div class="span3">
    {% include 'UsersBundle:Default/modulesUsed:utilisateursConnectes.html.twig' %}
</div>
<div class="page-top clearfix">
    <!--page main heading-->
    <div class="container">
        <h1 class="entry-title">Mes informations</h1>
    </div>
</div>
<div class="container">
    <div class="span4">
        <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
        <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
    </div>
</div>


