{% trans_default_domain 'FOSUserBundle' %}
<div class="span3">
    {% include 'UsersBundle:Default/modulesUsed:utilisateursConnectes.html.twig' %}
</div>

<div class="page-top clearfix">
    <!--page main heading-->
    <div class="container">
        <h1 class="entry-title">Modifier mon mot de passe</h1>
    </div>
</div>

<div class="contact-page clearfix animated fadeInLeft ae-animation-fadeInLeft">
    <div class="container">
        <div class="clearfix"></div>
        <!--contact form-->
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-6 ">
                {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password contact-form' } }) }}
                {{ form_widget(form) }}
                <div>
                    <input class="btn btn-primary" type="submit" value="{{ 'change_password.submit'|trans }}" />
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
</div>


