
<div class="col-lg-3 col-md-4 animated fadeInRight ae-animation-fadeInRight">
    <aside class="sidebar clearfix">
        <section class="widget widget_categories">
            <h3 class="title">Nos produits</h3>
            <ul>
                {{ render(controller('EcommerceBundle:Categories:menu')) }}
            </ul>
        </section>  
    </aside>
</div>
