/* Main */
/*.main-container{
    padding: 35px 0px;
}*/
.space-top{
    padding-top: 30px;
}
/* HEADER */
.header-top p span{
    display : inline-block;
}
.header-top p span a{
    color: #fff;
}
.header-top p span a:hover{
    color: #f15b5a;
}
.header-top p{
    line-height: 12px;
}
header nav.main-menu li.cart-img img{
    display: inline-block;
    width: 30px;
}
header nav.main-menu li.cart-img a{
    display: inline;
    padding: 5px 1px;
}
#search_suggest{
    position: relative;
}
.list-group{
    position: absolute;
    left: 0;
    right: 0;
    list-style: none;
    background: #fff;
    margin: 0;
    top: -2px;
    z-index: 9999;
}
.list-group > .product-name{
    padding: 0px 10px;
    font-size: 12px;
}
.list-group > .product-name:hover{
    opacity: 0.2;
    cursor: pointer;
}
/*Shop*/
.shop-page{
    padding-top: 10px;
}
.woocommerce ul.products li.product, 
.woocommerce-page ul.products li.product{
    margin: 0 21px 2.992em 0;
}
.img-container{
    min-height: 205px;
}
/* nav user*/
.nav-user-log .open .dropdown-toggle,
.nav-user-log .open .dropdown-toggle:hover,
.nav-user-log a{
    color: #fff;
    background: transparent !important;
}
.nav-user-log .fa-user{
    padding-right: 5px;
}
.nav-user-log .nav-list li{
    border-bottom: 1px solid #e2e2e2;
}
.nav-user-log .nav-list li:last-child{
    border-bottom: none;
}
.nav-user-log ul li a{
    color: #000;
}
.nav-user-log ul li a:hover{
    background: rgba(0,0,0,0.1) !important;
}
.nav-user-log .dropdown-toggle:hover{
    background-color: transparent !important;
    opacity: 0.7;
}
.dropdown-menu.dropdown-caret:before {
    border-bottom: 7px solid rgba(0,0,0,.2);
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    left: 9px;
    top: -6px;
}
.dropdown-menu.dropdown-caret:after, .dropdown-menu.dropdown-caret:before {
    content: "";
    display: inline-block;
    position: absolute;
}
.dropdown-menu.dropdown-caret:after {
    border-bottom: 6px solid #FFF;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    left: 10px;
    top: -5px;
}
.dropdown-menu.dropdown-caret:after, .dropdown-menu.dropdown-caret:before {
    content: "";
    display: inline-block;
    position: absolute;
}
.dropdown-menu.dropdown-caret-right.dropdown-caret:before, .dropdown-menu.dropdown-menu-right.dropdown-caret:before {
    left: auto;
    right: 9px;
}
.dropdown-menu.dropdown-caret-right.dropdown-caret:before, .dropdown-menu.dropdown-menu-right.dropdown-caret:before {
    left: auto;
    right: 9px;
}
.dropdown-menu.dropdown-caret-right.dropdown-caret:after, .dropdown-menu.dropdown-menu-right.dropdown-caret:after {
    left: auto;
    right: 10px;
}